@import "./iconfont.scss";

$font-color: #1fa637;
$gray-color: rgb(188, 188, 188);
$dark-gray-color: rgb(126, 126, 126);
$bg-color: rgb(239, 239, 239);
$warn-color: rgb(226, 46, 46);
$orange-color: rgb(255 , 187, 33);
$normal-font-size: 28rpx;

page {
  min-height: 100%;
  //定位modal框用
  position: relative;
  .bg {
    height: 100%;
    background: $bg-color;
    min-height: 100vh;
  }
}

.white-card {
  background: #fff;
  border-radius: 20rpx;
  font-size: 26rpx;
  box-sizing: border-box;
  .row {
    padding: 30rpx 60rpx;
    border-bottom: 2rpx solid $bg-color;
    display: flex;
    justify-content: space-between;
    color: $dark-gray-color;
    align-items:center;
    div:nth-child(1) {
      min-width: 150rpx;
    }
    div:nth-child(2) {
      word-break: break-all;
    }
    .right-normal {
      color: #000;
    }
  }
  .center {
    flex: 1;
    padding: 20rpx 40rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right {
    width: 200rpx;
  }
}

.large-gap{
  height:300rpx;
}

.gap {
  height: 10rpx;
}

.page-gap {
  height: 20rpx;
}

@mixin shadow-card {
  border-radius: 20rpx;
  box-shadow: 0 12rpx 10rpx rgba(0, 0, 0, 0.6);
}

.white-btn {
  color: $font-color;
  border: 2rpx solid $font-color;
  border-radius: 10rpx;
  padding: 10rpx 30rpx;
  text-align: center;
  width: 200rpx;
  background: #fff;
}

.green-btn {
  color: #fff;
  background: $font-color;
  border-radius: 10rpx;
  padding: 14rpx 44rpx;
  text-align: center;
  width: 200rpx;
}

.avatar {
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  overflow: hidden;
  img,
  image {
    width: 100%;
    height:100%;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.common-btn {
  background: $font-color;
  color: #fff;
  width: 400rpx;
  border-radius: 26rpx;
}

.notfound{
  text-align:center;
  color:$dark-gray-color;
}